.addTask{
    margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px; 
    p{
        font-weight: 500;
        margin-bottom: 5px;
    }
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.575);
        background-color: transparent;
        padding: 8px 10px;
        margin-bottom: 10px;
        &:focus{
            outline: none;
        }
    }
    .buttonWrap{
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        button{
            border: none;
            cursor: pointer;
            padding: 8px 10px;
            border-radius: 5px;
            background:transparent;
            width: 100px;
        }
        button:nth-child(1):hover{
            background-color: rgb(194, 189, 189);
        }
        button:nth-child(2){
            color: #fff;
            background-color: #000;
        }
    }

}
